<body>
  <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="geo-fill" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M4 4a4 4 0 1 1 4.5 3.969V13.5a.5.5 0 0 1-1 0V7.97A4 4 0 0 1 4 3.999zm2.493 8.574a.5.5 0 0 1-.411.575c-.712.118-1.28.295-1.655.493a1.319 1.319 0 0 0-.37.265.301.301 0 0 0-.057.09V14l.002.008a.147.147 0 0 0 .016.033.617.617 0 0 0 .145.15c.165.13.435.27.813.395.751.25 1.82.414 3.024.414s2.273-.163 3.024-.414c.378-.126.648-.265.813-.395a.619.619 0 0 0 .146-.15.148.148 0 0 0 .015-.033L12 14v-.004a.301.301 0 0 0-.057-.09 1.318 1.318 0 0 0-.37-.264c-.376-.198-.943-.375-1.655-.493a.5.5 0 1 1 .164-.986c.77.127 1.452.328 1.957.594C12.5 13 13 13.4 13 14c0 .426-.26.752-.544.977-.29.228-.68.413-1.116.558-.878.293-2.059.465-3.34.465-1.281 0-2.462-.172-3.34-.465-.436-.145-.826-.33-1.116-.558C3.26 14.752 3 14.426 3 14c0-.599.5-1 .961-1.243.505-.266 1.187-.467 1.957-.594a.5.5 0 0 1 .575.411z"></path>
    </symbol>
    <symbol id="alarm-fil" viewBox="0 0 16 16">
      <path d="M6 .5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1H9v1.07a7.001 7.001 0 0 1 3.274 12.474l.601.602a.5.5 0 0 1-.707.708l-.746-.746A6.97 6.97 0 0 1 8 16a6.97 6.97 0 0 1-3.422-.892l-.746.746a.5.5 0 0 1-.707-.708l.602-.602A7.001 7.001 0 0 1 7 2.07V1h-.5A.5.5 0 0 1 6 .5zm2.5 5a.5.5 0 0 0-1 0v3.362l-1.429 2.38a.5.5 0 1 0 .858.515l1.5-2.5A.5.5 0 0 0 8.5 9V5.5zM.86 5.387A2.5 2.5 0 1 1 4.387 1.86 8.035 8.035 0 0 0 .86 5.387zM11.613 1.86a2.5 2.5 0 1 1 3.527 3.527 8.035 8.035 0 0 0-3.527-3.527z"/>
    </symbol>
  </svg>
  <main>
    <div class="container px-4 py-5" id="custom-cards">
      <h2 class="pb-2 border-bottom">詳細状況</h2>
      <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
      <p class="detail__message" style='width: 100vh; height: 100px;'><%= @congestion.situation %></p>
        <div class="col" style='width: 100vw; height: 70vh;'>
          <div class="card card-cover h-100 w-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg">
            <div class="d-flex flex-column h-100 text-white text-shadow-1">
              <div id="map" style='width: 100%; height: 100%;'></div>
              <ul class="d-flex align-items-center justify-content-center"style="padding-left: 0px;margin-bottom: 0px;">
                <li class="d-flex align-items-center me-3">
                  <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"></use></svg>
                  <%= link_to @congestion.ski_resort.name,  congestion_path(@congestion.id), method: :get %>
                </li>
                <li class="d-flex align-items-center me-3">
                  <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#alarm-fil"></use></svg>
                  <%= @congestion.waiting %>
                  <span>min</span>
                <li class="d-flex align-items-center me-3">
                  <%= @congestion.created_at.strftime("%Y-%m-%d %H:%M:%S") %>
                </li>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="congestion__user" style='width: 100vw;padding-right: 30px;margin-top: 0px;"'><%= "by " + @congestion.user.nickname %></div>
        <div class="congestion__image" style='width: 100vh;'>
        <% if @congestion.image.present? %>
          <%= image_tag @congestion.image.variant(resize: '500x500') %>
        <% end %>
        </div><br>
        <% if user_signed_in? && current_user.id == @congestion.user_id %>
          <div class="congestion__manage" style='width: 100vh;'>
            <%= link_to "編集する", edit_congestion_path(@congestion.id), class: :edit__btn %><br>
            <%= link_to "削除する", congestion_path(@congestion.id), method: :delete, class: :destroy__btn %>
          </div>
        <% end %>
        <div class="congestion__comments">
        <%# ログインしているユーザーには以下のコメント投稿フォームを表示する %>
        <% if user_signed_in? %>
          <%= form_with model: [@congestion, @comment], local: true do |f|%>
            <div class="field">
              <%= f.label :content, "コメント" %><br />
              <%= f.text_field :content, id:"comment_content" %>
            </div>
            <div class="actions">
              <%= f.submit "送信する", class: :form__btn  %>
            </div>
          <% end %>
        <% end %>
        <%# // ログインしているユーザーには上記を表示する %>
        <ul class="comments_lists">
          <%# 投稿に紐づくコメントを一覧する処理を記述する %>
          <% @comments.each do |comment| %>
            <li class="comments_list">
              <%= comment.content %>
              <%= link_to comment.user.nickname, "/users/#{comment.user_id}", class: :comment_user%>
            </li>
          <% end %>
          <%# // 投稿に紐づくコメントを一覧する処理を記述する %>
        </ul>
<script>
    function initMap() {
      var latlng = new google.maps.LatLng(<%= @congestion.latitude %>,<%= @congestion.longitude %>);
      map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: <%= @congestion.latitude %>, lng: <%= @congestion.longitude %>},
          zoom: 11
        });
       marker = new google.maps.Marker({
          position: latlng,
          map: map
        });
    }

</script>
  </main>
</body>